table, th, td {
    border: 1px solid black;
}

.header{
    width: 100%;
    height: 5%;
    background-color: black;
    display: flex;
    justify-content:space-around;
    margin: auto;
}

.buttonsForHeader{
    width: 200px;
    height: 40px;
    background-color: #d78585;
    font-family: bold;
}
